%dmsans-900{
    font-family: 'Monserrat-Black', sans-serif;
    font-weight: 900;
}
%nunito-300{
    font-family: 'Nunito-light', sans-serif;
    font-weight: 300;
}
%nunitoitalic-300{
    font-family: 'Nunito-lightItalic', sans-serif;
    font-weight: 300;
}
%nunitosemi-600{
    font-family: 'Nunito-SemiBold', sans-serif;
    font-weight: 600;
}
%nunito-700{
    font-family: 'Nunito-Bold', sans-serif;
    font-weight: 700;
}
